In [4]:
#find unique data in column
import pandas as pd
csv_path='test.csv'
df=pd.read_csv(csv_path)
df['Released'].unique()

array([1982, 1980, 1973, 1992, 1977, 1976])

In [6]:
df1=df[df['Released']>=1980]
df1.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtracks,Rating
0,Michael Jackson,Thriller,1982,0.42.19,"pop, rock, R&B",46.0,65,11/30/82,NaN,10.0
1,AC/DC,Back in Black,1980,0.42.20,hard rock,26.1,50,12/01/82,NaN,9.5
3,Whitney Houston,The Bodyguard,1992,0.42.22,"R&B, soul, pop",27.4,44,12/03/82,Y,8.5

In [7]:
df1.to_csv('after_1980.csv')